node_modules
*.log
lib
dist
test-lib/**/*.js
coverage
.nyc_output
.idea
package-lock.json
.vscode

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.eslintcache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions